@charset "utf-8";

html, body,td {
	padding: 0;
	margin: 0;	
	height: 100%;
	}
	
h1, h2, h3 { clear: both; }

h1 {font-size: 35px; color: rgba(146,222,18,1.00);}
h2 {font-size: 30px; color: rgba(255,118,20,1.00);}
h3 {font-size: 20px;color: rgba(155,60,161,1.00);}
p  {color: rgba(62,61,64,1.00); font-size: 15px;}
li {color: rgba(62,61,64,1.00); font-size: 15px;}




#header {
	background-color: rgba(233,219,242,1.00);
	color: rgba(146,222,18,1.00);
	font-size: 18px;
	font-familly: Andale Mono;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	padding: 0 0 0 0;
	width: 100%;
	}
	
#header h1 { font-size: 50px; color: rgba(146,222,18,1.00);}
#header h2 {font-size: 30px;}

#contenu {
    float: left;
	background: white;
	padding-left: 310px;
	padding-right: 0em;
	padding-top: 10px;
	padding-bottom: 2em;
	width: 1000px;
	}


#menu { 	
	display: block;
	margin: 0 0 0 1px;
	padding-left: 1em;
	padding-right: 4em;
	padding-top: 2em;
	padding-bottom: 2em;
	width: 320px;
	height: 0;
		text-align: left;

	}
#menu li {	
	padding-left: 0em;

	}

#background_contenu {
	background: white;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	height: 100%; 
		clear: both;

	}

#footer {
	background-color: rgba(233,219,242,1.00);
	padding-left: 10em;
	padding-right: 10em;
	padding-top: 2em;
	padding-bottom: 0;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	height: 300px;
		clear: both;

	}

.clear {
  clear: both;
}  

.vignette {
    float: left;
	margin-right: 2em;
	margin-left: 1em;
	margin-bottom: 1em;
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 1em;
	background: rgba(233,219,242,1.00);
	width: 303px;
	border: 4px rgba(233,219,242,1.00);
    border-radius: 10px 10px 0px 10px;
	}
	
.vignette h1{ font-size: 20px; margin-top: 10px; line-height: 10px; color: rgba(146,222,18,1.00);} /* titre = nom du cercle*/
.vignette p {font-size: 15px; color: rgba(62,61,64,1.00);} /*description*/
.vignette h2 {font-size: 10px; color: rgba(62,61,64,1.00);} /*date et heure de crétion*/

#logo {
	width: 140px;
	height: 140px;
	background-image:url(images/logo.png);
	margin: 0;
	}
	
#logo > a {
	width: 100%;
	height: 100%;
	display: block;
	color: transparent;
	}
	
#logo a span {display: none;}

#cercle h1 {text-align: center;}
#cercle h2 {text-align: center;}
